.phoneInputBox {
  display: flex;
  align-items: center;
  max-width: 300px;
  background: #fff;
  border-bottom: 1px solid #a0a0a0;
  gap: 1rem;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
}

.phoneInputBox .prefix {
  font-weight: 300;
  font-size: 14px;
  color: #999;
}

.phoneInputBox input {
  flex-grow: 1;
  font-size: 14px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.phoneInputBox:focus-within {
  border-color: #777;
}

.formInput {
  outline: 0;
  border-width: 0 0 1px;
  border-color: blue;
  background-color: #999999;
}