.phoneInputBox {
  @apply flex items-center bg-white gap-4 overflow-hidden p-0 pr-1;
  border-bottom: 1px solid #a0a0a0;
}

span.prefix {
  @apply text-shade400 text-lg ;
}
.phoneInputBox input{
  @apply flex-1 border-none outline-none p-0 h-8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.phoneInputBox input::placeholder {
  @apply text-lg border-0 text-shade400;
  flex-grow: 1;
  border: none;
  outline: none;
}